body, div, span, a {
    margin: 0;
    padding: 0;
}

#my2048 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #bbada0;
}

#my2048 div {
    position: absolute;
    display: inline-block;
    border: 0px;
}
